@using Shsict.Reservation.Mvc.Models
@model ReservationModels.IndexDto

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    ViewBag.Title = "今日自助订餐";
}

@section Styles {
    @Styles.Render("~/Content/iCheck/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/icheck")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            //Flat color scheme for iCheck
            $('input[type="checkbox"].flat-@Model.MenuStyle, input[type="radio"].flat-@Model.MenuStyle').iCheck({
                checkboxClass: 'icheckbox_flat-@Model.MenuStyle',
                radioClass: 'iradio_flat-@Model.MenuStyle'
            });

            $("#btnMenuOrder").click(function () {
                if ($("#formMenuOrder").valid()) {
                    document.forms["formMenuOrder"].submit();
                }
            });
        });
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        @if (Model.MenuA != null && Model.MenuB != null && Model.MenuDate == DateTime.Today && Model.CanReserveNow)
        {
            @*在订餐时间，可以预订*@
            <div class="row">
                @Html.Partial("Reservation/_MenuPartial", Model)
            </div>
            <!-- /.row -->
        }
        else if (Model.MenuA != null && Model.MenuB != null && !Model.CanReserveNow)
        {
            var tip = new TipDto
            {
                Title = "当前时间 " + DateTime.Now.ToString("yyyy-MM-dd hh:mm"),
                Message = @"您已经成功预订了此时段套餐。",
                HyperLinkText = "<i class=\"fa fa-eye\"></i> 查看订餐记录",
                HyperLinkHref = Url.Action("History", "Reservation")
            };

            @*在订餐时间，不可以预订（已经订过）*@
            @Html.Partial("_TipPartial", tip)
        }
        else
        {
            var tip = new TipDto
            {
                Title = "当前时间 " + DateTime.Now.ToString("yyyy-MM-dd hh:mm"),
                Message = @"<p>午餐预订时间 07:30~09:00</p><p>夜宵预订时间 18:30~20:00</p>",
                HyperLinkText = "<i class=\"fa fa-eye\"></i> 查看订餐记录",
                HyperLinkHref = Url.Action("History", "Reservation")
            };

            @*不在订餐时间，或没有菜单*@
            @Html.Partial("_TipPartial", tip)
        }
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->