@using Shsict.Reservation.Mvc.Entities
@using Shsict.Reservation.Mvc.Models
@model ReservationModels.IndexDto

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    ViewBag.Title = "今日自助订餐";
}

@section Styles {
    @Styles.Render("~/Content/iCheck/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/icheck")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            //Flat color scheme for iCheck
            $('input[type="checkbox"].flat-@Model.MenuStyle, input[type="radio"].flat-@Model.MenuStyle').iCheck({
                checkboxClass: 'icheckbox_flat-@Model.MenuStyle',
                radioClass: 'iradio_flat-@Model.MenuStyle'
            });

            $("#btnMenuOrder").click(function () {
                if ($("select#DeliveryZone").val() !== "" || $("select#DeliveryPoint").val() !== "") {
                    if ($("#formMenuOrder").valid() && confirm("确认订餐信息为 //TODO")) {
                        document.forms["formMenuOrder"].submit();
                    }
                } else {
                    alert("请选择送餐区域与送餐点");
                }
            });

            bindDeliveryPointByZone($("select#DeliveryZone").val());

            $("select#DeliveryZone").change(function () {
                bindDeliveryPointByZone($(this).val());
            });
        });

        function bindDeliveryPointByZone(zid) {
            if (zid !== "") {
                $.getJSON("@Url.Action("GetDeliveryPointByZone","Reservation")", { zid }, function (data, status) {
                    if (status === "success" && data != null) {
                        if (JSON.stringify(data) !== "[]") {
                            $("select#DeliveryPoint").empty();
                            $.each(data, function (i, entry) {
                                $("select#DeliveryPoint").append($("<option>", { value: entry.ID })
                                    .text(entry.DeliveryName));
                            });
                        } else {
                            $("select#DeliveryPoint").empty();
                            $("select#DeliveryPoint").append($("<option>", { value: zid }).prop("selected", "selected")
                                // 如果对应订餐区域无订餐点，则显示订餐区域信息
                                .text($('select#DeliveryZone>option[selected=" selected"]').text()));
                        }
                    } else {
                        alert("调用数据接口失败(GetDeliveryPointByZone)");
                    }
                });
            } else {
                $("select#DeliveryPoint").empty();
                $("select#DeliveryPoint").append($("<option>", { value: "" }).text("-- 送餐点 --"));
            }
        }
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        @if (Model.MenuA != null && Model.MenuB != null && Model.MenuDate == DateTime.Today && Model.CanReserveNow)
        {
            @*在订餐时间，可以预订*@
            <div class="row">
                @Html.Partial("Reservation/_MenuPartial", Model)
            </div>
            <!-- /.row -->
        }
        else if (Model.MenuA != null && Model.MenuB != null && !Model.CanReserveNow && Model.MyCurrentOrder != null)
        {
            var tip = new TipDto
            {
                Title = "当前时间 " + DateTime.Now.ToString("yyyy-MM-dd HH:mm"),
                Message = string.Format(@"<p>您已经成功预订了此时段套餐。</p>
                                     <p>{0}</p>", Model.MyCurrentOrder.ToString()),
                HyperLinkText = "<i class=\"fa fa-eye\"></i> 查看订餐记录",
                HyperLinkHref = Url.Action("History", "Reservation")
            };

            @*在订餐时间，不可以预订（已经订过）*@
            @Html.Partial("_TipPartial", tip)
        }
        else
        {
            var tip = new TipDto
            {
                Title = "当前时间 " + DateTime.Now.ToString("yyyy-MM-dd HH:mm"),
                Message = String.Format("<p>午餐预订时间 {0}:00~{1}:00</p><p>夜宵预订时间 {2}:00~{3}:00</p>",
                    ConfigGlobal.MenuDuration[0], ConfigGlobal.MenuDuration[1],
                    ConfigGlobal.MenuDuration[2], ConfigGlobal.MenuDuration[3]),
                HyperLinkText = "<i class=\"fa fa-eye\"></i> 查看订餐记录",
                HyperLinkHref = Url.Action("History", "Reservation")
            };

            @*不在订餐时间，或没有菜单*@
            @Html.Partial("_TipPartial", tip)
        }
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->