@model Shsict.Reservation.Mvc.Models.ReservationModels.TodayOrdersDto
@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    ViewBag.Title = "今日订餐记录";
}

@section Styles {
    <link rel="stylesheet" href="~/Scripts/datatables/dataTables.bootstrap.css">
    @Styles.Render("~/Content/iCheck/css")
    <style type="text/css">
        #tblOrder_filter {
            display: none;
        }
    </style>
}

@section Scripts {
    <!-- DataTables -->
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/dataTables.bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/icheck")

    <script type="text/javascript">
        $.fn.dataTable.ext.search.push(function (settings, data) {
            var selectedZone = $("#DeliveryZone").val();
            var deliveryZone = data[6];

            if (selectedZone === "" || deliveryZone.indexOf(selectedZone) >= 0) {
                return true;
            }
            return false;
        });

        $(function () {
            var table = $("#tblOrder").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true,
                "language": {
                    "url": "/Scripts/datatables/zh-CN.json"
                }
            });

            $("#DeliveryZone").change(function () {
                table.draw();
            });

            //Enable iCheck plugin for checkboxes
            //iCheck for checkbox and radio inputs
            $('#tblOrder input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //Enable check and uncheck all functionality
            $(".checkbox-toggle").click(function () {
                var clicks = $(this).data('clicks');
                if (clicks) {
                    //Uncheck all checkboxes
                    $("#tblOrder input[type='checkbox']").iCheck("uncheck");
                    $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
                } else {
                    //Check all checkboxes
                    $("#tblOrder input[type='checkbox']").iCheck("check");
                    $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
                }
                $(this).data("clicks", !clicks);
            });
        });
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="mailbox-controls">
                            <div class="btn-group">
                                <!-- Check all button -->
                                <button type="button" class="btn btn-default checkbox-toggle">
                                    <i class="fa fa-square-o"></i>
                                </button>
                                <button type="button" class="btn btn-default"><i class="fa fa-trash-o"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-file-excel-o"></i></button>
                            </div>
                            <!-- /.btn-group -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"
                                        onclick="window.location.href = '@Url.Action("Order", "Reservation")'">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <button type="button" class="btn btn-default"
                                        onclick="window.location.href = '@Url.Action("TodayOrders", "Reservation")'">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </div>

                            <div class="box-tools pull-right col-sm-3">
                                <div class="has-feedback input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" value="@DateTime.Today.ToString("yyyy年MM月dd日")"
                                           class="form-control" disabled="disabled" placeholder="订餐日期">
                                </div>
                            </div>
                            <div class="box-tools pull-right col-sm-3" style="text-align: right">
                                <select class="form-control" id="DeliveryZone">
                                    <option value="">-- 送餐区域 --</option>
                                    @if (Model.DeliveryZones != null && Model.DeliveryZones.Count > 0)
                                    {
                                        foreach (var m in Model.DeliveryZones)
                                        {
                                            <option>@m.DeliveryName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <table id="tblOrder" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>日期</th>
                                    <th>时段</th>
                                    <th>A / B</th>
                                    <th>主食</th>
                                    <th>用餐人</th>
                                    <th>送餐点</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            @if (Model.Orders != null && Model.Orders.Count > 0)
                            {
                                <tbody>
                                    @foreach (var m in Model.Orders)
                                    {
                                        <tr>
                                            <td><input type="checkbox" value="@m.ID" title="@m.ID"></td>
                                            <td>@m.MenuDate.ToString("yyyy-MM-dd")</td>
                                            <td>@m.MenuName</td>
                                            <td>@m.Flag</td>
                                            <td>
                                                @m.StapleFood @if (m.ExtraFood)
                                                { @Html.Raw("(+)") }
                                            </td>
                                            <td>
                                                @m.UserName @if (!string.IsNullOrEmpty(m.EmployeeNo))
                                                { @Html.Raw("(" + m.EmployeeNo + ")")}
                                            </td>
                                            <td>@m.DeliveryZone -> @m.DeliveryPoint</td>
                                            <td>@m.CreateTime.ToString("yyyyMMdd HH:mm")</td>
                                            <td>
                                                <a href="@Url.Action("Order", "Reservation", new {id = m.ID})" class="btn btn-info btn-xs">
                                                    <i class="fa fa-pencil"></i> 修改
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
