@model Shsict.Reservation.Mvc.Models.ConsoleModels.MenuManagementDto

@section Styles {
    <link rel="stylesheet" href="~/Scripts/datepicker/datepicker3.css">
    <link rel="stylesheet" href="~/Scripts/datatables/dataTables.bootstrap.css">
}

@section Scripts {
    <script src="~/Scripts/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
    <!-- DataTables -->
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#MenuDate").datepicker({
                autoclose: true,
                language: "zh-CN",
                todayHighlight: true
            }).on('changeDate', function (calendar) {
                var date = calendar.date.getFullYear().toString() + "-" + (calendar.date.getMonth() + 1).toString() + "-" + calendar.date.getDate().toString();

                window.location.href = "@Url.Action("MenuManagement", "Console")" + "?date=" + date;
            });

            $("#tblMenu").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": true,
                "autoWidth": true,
                "pageLength": 7,
                "language": {
                    "url": "/Scripts/datatables/zh-CN.json"
                }
            });
        });
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <b><i class="fa fa-calendar-minus-o"></i> 菜单管理</b>
            <small>管理每天菜谱，分午餐和夜宵，必有A/B套</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> 管理控制台</a></li>
            <li><a href="#">订餐管理</a></li>
            <li class="active">菜单管理</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="mailbox-controls">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"
                                        onclick="window.location.href = '@Url.Action("Menu", "Console")'">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <button type="button" class="btn btn-default"
                                        onclick="window.location.href = '@Url.Action("MenuRefresh", "Cache")'">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                            <!-- /.btn-group -->

                            <div class="box-tools pull-right col-sm-4">
                                <div class="has-feedback input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" value="@(Model.MenuDate.HasValue ?
                                            Model.MenuDate.Value.ToString("yyyy年MM月dd日") : string.Empty)"
                                           class="form-control" id="MenuDate" name="MenuDate" placeholder="菜单对应日期">
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <table id="tblMenu" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>日期</th>
                                    <th>时段</th>
                                    <th>A/B</th>
                                    <th>大荤</th>
                                    <th>小荤</th>
                                    <th>素菜1</th>
                                    <th>素菜2</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            @if (Model.Menus != null && Model.Menus.Count > 0)
                            {
                                <tbody>
                                    @foreach (var m in Model.Menus)
                                    {
                                        <tr>
                                            <td>@m.ID</td>
                                            <td>
                                                @if (m.MenuDate != null)
                                                {
                                                    @m.MenuDate.Value.ToString("yyyy-MM-dd")
                                                }
                                            </td>
                                            <td>@m.Name</td>
                                            <td>@m.Flag</td>
                                            <td>@m.Meat</td>
                                            <td>@m.MeatSmall</td>
                                            <td>@m.Vegetable1</td>
                                            <td>@m.Vegetable2</td>
                                            <td>
                                                <a href="@Url.Action("Menu", "Console", new {id = m.ID})" c class="btn btn-info btn-xs">
                                                    <i class="fa fa-pencil"></i> 修改
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
