@model Shsict.Reservation.Mvc.Models.SecureNode.SecureNodeModels.CheckListManagementDto

@{
    ViewBag.Title = "检查记录管理";
    Layout = "~/Views/Shared/_LayoutMobileSecureNode.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/datepicker/css")
    @Styles.Render("~/Content/datatables/css")
    <style type="text/css">
        #btn-shift-daytime.shift-selected {
            color: orange;
        }

        #btn-shift-night.shift-selected {
            color: #be4bdb;
        }

        #tbl-grid_filter {
            display: none;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">
        $.fn.dataTable.ext.search.push(function (settings, data) {
            if ($(".shift-selected").length === 1) {
                return data[3].indexOf($(".shift-selected").prop("title")) > 0;
            }
            return true;
        });

        $(function() {
            $("#OperateDate").datepicker({
                autoclose: true,
                language: "zh-CN",
                todayHighlight: true
            }).on('changeDate',
                function(calendar) {
                    var date = calendar.date.getFullYear().toString() +
                        "-" +
                        (calendar.date.getMonth() + 1).toString() +
                        "-" +
                        calendar.date.getDate().toString();

                    window.location.href = "@Url.Action("CheckListManagement", "SecureNode")" + "?date=" + date;
                });

            var table = $("#tbl-grid").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true,
                "language": {
                    "url": "/Scripts/datatables/zh-CN.json"
                }
            });

            $("#tbl-grid_filter").hide();

            $("#btn-shift-daytime, #btn-shift-night").click(function() {
                $(this).toggleClass("shift-selected");
                table.draw();
            });
        });
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <b><i class="fa fa-clipboard"></i> 检查记录管理</b>
            <small>显示对应日期的所有检查记录，按班期进行筛选</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")"><i class="fas fa-tachometer-alt"></i> 管理控制台</a></li>
            <li class="active">检查记录管理</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="mailbox-controls">
                            <!-- /.btn-group -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"
                                        onclick="window.location.href = '@Url.Action("OperationStandardRefresh", "Cache")'">
                                    <i class="fa fa-refresh"></i>
                                </button>
                                <button type="button" class="btn btn-default"
                                        onclick="window.location.href = '@Url.Action("ExportCheckLists", "SecureNode", new { @date = Model.OperateDate })'">
                                    <i class="fa fa-file-excel-o"></i> 导出记录
                                </button>
                            </div>
                            <div class="box-tools pull-right col-sm-3">
                                <div class="has-feedback input-group date">
                                    <div class="input-group-addon" id="btn-shift-daytime" title="日班">
                                        <i class="fa fa-sun"></i>
                                    </div>
                                    <div class="input-group-addon" id="btn-shift-night" title="夜班">
                                        <i class="fa fa-moon"></i>
                                    </div>
                                    <input type="text" value="@(Model.OperateDate.HasValue ? Model.OperateDate.Value.ToString("yyyy年MM月dd日") : string.Empty)"
                                           class="form-control" id="OperateDate" name="OperateDate" placeholder="检查班期">
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <table id="tbl-grid" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th style="width: 200px">安全检查点</th>
                                    <th style="width: 250px">安全检查标准</th>
                                    <th>操作班期</th>
                                    <th>安全员</th>
                                    <th>检查地点</th>
                                    <th>检查结果</th>
                                    <th>检查时间</th>
                                </tr>
                            </thead>
                            @if (Model.CheckLists != null && Model.CheckLists.Count > 0)
                            {
                                <tbody>
                                    @foreach (var m in Model.CheckLists)
                                    {
                                        <tr>
                                            <td>@m.ID</td>
                                            <td>
                                                <span class="badge"># @m.SecureNode.SecureNodeNo</span> 
                                                @m.SecureNode.SecureNodeName
                                            </td>
                                            <td>
                                                @if (m.SecureNode.JsonCheckRequirement.Count > 0)
                                                {
                                                    for (var i = 1; i <= m.SecureNode.JsonCheckRequirement.Count; i++)
                                                    {
                                                        <span class="label label-primary">@i</span> 
                                                        @m.SecureNode.JsonCheckRequirement[i - 1] <br />
                                                    }
                                                }
                                            </td>
                                            <td>@m.OperateDate.ToString("yyyyMMdd") @m.ShiftInfo</td>
                                            <td>
                                                @m.EmployeeName @if (!string.IsNullOrEmpty(m.EmployeeNo))
                                                {@Html.Raw("(" + m.EmployeeNo + ")")}
                                            </td>
                                            <td>@m.CheckLocation</td>
                                            <td>
                                                <span class="label @(m.CheckResult ? "bg-green-gradient": "bg-red-gradient")"
                                                      @if (!string.IsNullOrEmpty(m.Remark)) { @Html.Raw(string.Format("style=\"cursor: pointer\" title=\"{0}\" onclick=\"alert('{0}')\"", m.Remark)) }>
                                                    <i class="fas @(m.CheckResult ? "fa-check-circle" : "fa-exclamation-triangle")"></i>
                                                    @m.CheckNodePoint
                                                </span>
                                            </td>
                                            <td>@m.CheckTime.ToString("HH:mm")</td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
