@using Shsict.Reservation.Mvc.Entities
@model Shsict.Reservation.Mvc.Models.SecureNode.SecureNodeModels.IndexDto

@{
    ViewBag.Title = "安全检查登记";
    Layout = "~/Views/Shared/_LayoutMobileSecureNode.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/datepicker/css")
    @Styles.Render("~/Content/timepicker/css")

    <style type="text/css">
        p.check-requirement-item.selected {
            background: antiquewhite;
            font-weight: bold;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/timepicker")

    <script type="text/javascript">
        $(function() {
            $("#OperateDate").datepicker({
                autoclose: true,
                language: "zh-CN",
                todayHighlight: true,
                endDate: new Date()
            }).on('changeDate',
                function(calendar) {
                    var date = calendar.date.getFullYear().toString() +
                        "-" +
                        (calendar.date.getMonth() + 1).toString() +
                        "-" +
                        calendar.date.getDate().toString();

                    window.location.href = "@Url.Action("Index", "SecureNode")" + "?date=" + date;
                });

            //Timepicker
            $(".check-timepicker").timepicker({
                showMeridian: false,
                showInputs: false
            });

            $("p.check-requirement-item").click(function() {
                $(this).siblings(".selected").removeClass("selected");
                $(this).toggleClass("selected");
            });

            $(".secure-node .btn-success").click(function() {
                if (validateCheckList($(this).parents(".secure-node"))) {
                    // hidden remark
                    $(this).parents(".secure-node").find(".form-control.checklist-remark").val("").hide();
                    submitCheckList($(this).parents(".secure-node"), true);
                }
            });

            $(".secure-node .btn-danger").click(function() {
                var $remark = $(this).parents(".secure-node").find(".form-control.checklist-remark");

                if ($remark.val() !== "" && validateCheckList($(this).parents(".secure-node"))) {
                    submitCheckList($(this).parents(".secure-node"), false);
                } else {
                    $remark.show();
                }
            });

            if (location.search !== "") {
                gotoArchor(location.search.replace("?", ""));
            }
        });

        function gotoArchor(num) {
            if (num > 0) {
                var currentNode = $(".secure-node").find("h3 a#" + num);
                //alert(currentNode.offset().top);
                $("body,html").animate({
                    scrollTop: currentNode.offset().top - 20
                }, 0);
            }
        }

        function validateCheckList($obj) {
            if ($obj.find(".check-location").val() === "") {
                alert("请填写检查地点");
                return false;
            }

            if ($obj.find("p.check-requirement-item.selected").length <= 0) {
                alert("请选择检查项");
                return false;
            }

            return true;
        }

        function submitCheckList($obj, result) {
            $.post("/SecureNode/CheckList?secureNodeId=" + $obj.find("h3 a").prop("id"),
                {
                    "CheckTime": "@Model.OperateDate.Date.ToString("yyyy-MM-dd") " +
                        $obj.find(".check-timepicker").val(),
                    "CheckLocation": $obj.find(".check-location").val(),
                    "CheckNodePoint": $obj.find("p.check-requirement-item.selected span").text(),
                    "CheckResult": result,
                    "Remark": $obj.find(".form-control.checklist-remark").val()
                },
                function(data, status) {
                    if (status === "success" && data != null) {
                        if (data.result === "success") {
                            alert("提交成功");
                            //window.location.replace("/SecureNode?archor=" + $obj.find("h3 a").prop("id"));
                            window.location.href = "/SecureNode?" + $obj.find("h3 a").prop("id");
                        } else if (data.result === "failed") {
                            alert(data.message);
                        }
                    } else {
                        alert("调用数据接口失败(CheckList)");
                    }
                });
        }
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row col-md-12">
            <div class="mailbox-controls">
                <div class="has-feedback input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" value="@(Model.OperateDate.ToString("yyyy年MM月dd日"))"
                           class="form-control" id="OperateDate" name="OperateDate" placeholder="检查班期" readonly="readonly">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>
            @if (Model.SecureNodes != null && Model.SecureNodes.Count > 0)
            {
                using (Html.BeginForm("CheckList", "SecureNode", FormMethod.Post, new { id = "form-checklist", @class = "form-horizontal" }))
                {
                    foreach (var m in Model.SecureNodes)
                    {
                        var count = 0;
                        if (Model.MyCheckLists != null && Model.MyCheckLists.Count > 0)
                        {
                            count = Model.MyCheckLists.Count(x => x.SecureNode.ID.Equals(m.ID));
                        }
                        <div class="box box-primary secure-node">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="line-height: 1.3">
                                    <span class="badge"># @m.SecureNodeNo</span>
                                    <a id="@m.ID">@m.SecureNodeName</a>
                                </h3>
                            </div>
                            @if (count < ConfigGlobalSecureNode.DailyCheckLimit)
                            {
                                <div class="box-body bootstrap-timepicker">
                                    <div class="col-xs-6">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="far fa-clock"></i>
                                            </div>
                                            <input type="text" class="form-control check-timepicker" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="far fa-compass"></i>
                                            </div>
                                            <input type="text" class="form-control check-location" />
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="col-sm-12">
                                    @if (m.JsonCheckRequirement.Count > 0)
                                    {
                                        for (var i = 1; i <= m.JsonCheckRequirement.Count; i++)
                                        {
                                            <p class="check-requirement-item">
                                                <span class="label label-primary">@i</span>
                                                @m.JsonCheckRequirement[i - 1]
                                            </p>
                                        }
                                    }
                                </div>
                                <div class="col-sm-12">
                                    <textarea class="form-control checklist-remark" style="display: none"
                                              rows="3" placeholder="-填写异常信息-"></textarea>
                                    @Html.Hidden("SecureNodeId", m.ID)
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary()
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="col-xs-5">
                                    @if (count > 0)
                                    {
                                        <span class="label label-primary">今天已有 @count 条记录</span>
                                    }
                                </div>
                                <div class="col-xs-7">
                                    @if (count < ConfigGlobalSecureNode.DailyCheckLimit)
                                    {
                                        <button type="button" class="btn btn-success">
                                            <i class="fa fa-check-circle"></i> 通过
                                        </button>
                                        <button type="button" class="btn btn-danger">
                                            <i class="fa fa-exclamation-triangle"></i> 异常
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-info-circle"></i> 当前时间 @DateTime.Now.ToString("yyyyMMdd HH:mm")</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <p>您暂无权限登记检查记录，请联系管理员。</p>
                    </div>
                    <!-- /.box-body -->
                </div>
            }
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
