<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>盛东自助订餐系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
    <div class="wrapper">
        <header class="main-header">
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">导航栏</span>
                </a>
                @Html.Partial("_AccountPartial")
            </nav>
        </header>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">导航栏</li>
                    <li><a href="@Url.Action("Index","Reservation")"><i class="fa fa fa-cutlery"></i> <span>今日自助订餐</span></a></li>
                    <li><a href="@Url.Action("History","Reservation")"><i class="fa fa-book"></i> <span>订餐历史记录</span></a></li>
                    <li><a href="@Url.Action("Index","Account")"><i class="fa fa-user"></i> <span>我的员工信息</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        @RenderBody()
    </div>
    <!-- ./wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/adminlte")

    @RenderSection("Scripts", false)
</body>
</html>