@{
    ViewBag.Title = "Debug";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="Row">
            <ul>
                <li>
                    accessToken: @ViewBag.AccessToken
                </li>
                <li>
                    code: @ViewBag.Code
                </li>
                <li>
                    state: @ViewBag.State
                </li>
                <li>
                    result: @ViewBag.Result
                </li>
                <li>
                    user: @ViewBag.User
                </li>
            </ul>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
