@{
    ViewBag.Title = "Debug";
}


<div>
    <ul>
        <li>
            accessToken: @ViewBag.AccessToken
        </li>
        <li>
            code: @ViewBag.Code
        </li>
        <li>
            state: @ViewBag.State
        </li>
        <li>
            result: @ViewBag.Result
        </li>
        <li>
            user: @ViewBag.User
        </li>
    </ul>
</div>
