@model Shsict.Reservation.Mvc.Models.UserDto
@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    ViewBag.Title = "我的员工信息";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $("#btnAccount").click(function () {
                if ($("#formAccount").valid()) {
                    document.forms["formAccount"].submit();
                }
            });
        });
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#account" data-toggle="tab">资料修改</a></li>
                    <li><a href="#password" data-toggle="tab">修改密码</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="account">
                        @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { id = "formAccount", @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.UserId, new { @class = "col-sm-2 control-label" })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.EmployeeName, new { @class = "col-sm-2 control-label" })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.EmployeeNo, new { @class = "col-sm-2 control-label" })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.EmployeeNo, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Department, new { @class = "col-sm-2 control-label" })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Department, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Position, new { @class = "col-sm-2 control-label" })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Position, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Mobile, new { @class = "col-sm-2 control-label" })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @type = "tel" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    @Html.HiddenFor(m => m.ID)
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary()
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" id="btnAccount">
                                        <i class="fa fa-floppy-o"></i> 保存资料
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="password">
                        @* TODO*@
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
